---
---

@charset "utf-8";

@use "sass:math";
@use "sass:string";

@use "variables" with (
  $max-content-width: {{site.max_width | default: "930px"}}
);

@use "themes";
@use "layout";
@use "typography";
@use "navbar";
@use "footer";
@use "blog";
@use "publications";
@use "components";
@use "utilities";
@use "tabs";
@use "teachings";
@use "typograms";

:root {
  --global-code-bg-color: rgba(0, 0, 0, 0.045);
  --global-theme-color: #171717;
  --global-hover-color: #595959;
}

html[data-theme="dark"] {
  --global-code-bg-color: rgba(255, 255, 255, 0.06);
  --global-theme-color: #f2f2f2;
  --global-hover-color: #bdbdbd;
}

body {
  font-weight: 400;
}

.post > .post-header .post-title,
.post article > h2 {
  font-weight: 600;
  letter-spacing: -0.025em;
}

.post article > h2 {
  font-size: 1.75rem;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: var(--global-text-color-light);
  font-weight: 500;
}

.navbar.navbar-light .navbar-nav .nav-item.active .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--global-text-color);
}
